In [5]:
import pandas as pd
import bz2

# Exercise 1

**Count the number of lines in Python for
each file**

In [2]:
with bz2.open("../challenge/bookings.csv.bz2", "r") as bookings:
    count = 0
    for line in bookings:
        count += 1
booking_count = count
booking_count

10000011

In [3]:
with bz2.open("../challenge/searches.csv.bz2", "r") as bookings:
    count = 0
    for line in bookings:
        count += 1
searches_count = count
searches_count

20390199

In [6]:
counts = [booking_count, searches_count]
index = ['booking.csv', 'searches.csv']
column = ['number_of_lines']

counts_df = pd.DataFrame(counts, index=index, columns=column)
counts_df

              number_of_lines
booking.csv          10000011
searches.csv         20390199

In [7]:
counts_df.to_csv('exercise_1.csv', sep = ',')