In [1]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt

pd.options.display.max_columns = None
#pd.options.display.max_rows = 100

# Exercise 4

**Match searches with bookings**

- For every search in the searches file, find out whether the search ended up in a booking or not (using the info in the bookings file). For instance, search and booking origin and destination should match.
- For the bookings file, origin and destination are the columns `dep_port` and `arr_port`, respectively.
- Generate a CSV file with the search data, and an additional field, containing 1 if the search ended up in a booking, and 0 otherwise.

### Planteamiento

Lo que haremos sera asignar al dataset `searches` dos columnas. La primera representara el numero de vuelos en esa searche en caso de que dicha searche terminase en reserva. Si la searche no termino en reserva, entonces aparecera 0 en la columna `Number of flights`. La segunda columna, `Booking`, representara un uno si la searche termino en reserva. En cso contrario contendra un 0.

![](../images/diagram.png)

||n_of_flights|Booking|
|:--:|:--:|:--:|
|...|0|0|
|...|1|1|
|...|2|1|
|...|3|1|

El primer paso sera quitar los duplicados de cada dataset. Esto es porque hay muchos y asi seran mas manejables.

In [2]:
data_iterator = pd.read_csv("../challenge/searches.csv.bz2", 
                            chunksize=5*10**5, 
                            sep='^', 
                            compression='bz2',
                            #nrows=10**6,
                            low_memory=True,
                            dtype=str,
                            #dtype=dtypes,
                            #na_values=[np.nan],
                            #memory_map=True
                           )

searches = pd.DataFrame()
for i, data_chunk in enumerate(data_iterator):
    #data_chunk = searches_data_preprocessing(data_chunk, columns_to_clean)
    #data_chunk.reset_index(inplace=True)

    searches = searches.append(data_chunk)
    searches.drop_duplicates(inplace=True)
    print("Chunk: %d, size of chunk %d"%(i+1, searches.shape[0]))

Chunk: 1, size of chunk 358999
Chunk: 2, size of chunk 358999
Chunk: 3, size of chunk 359003
Chunk: 4, size of chunk 359003
Chunk: 5, size of chunk 359003
Chunk: 6, size of chunk 359003
Chunk: 7, size of chunk 359003
Chunk: 8, size of chunk 359003
Chunk: 9, size of chunk 359003
Chunk: 10, size of chunk 359003
Chunk: 11, size of chunk 359003
Chunk: 12, size of chunk 359003
Chunk: 13, size of chunk 359003
Chunk: 14, size of chunk 359003
Chunk: 15, size of chunk 359003
Chunk: 16, size of chunk 359003
Chunk: 17, size of chunk 359003
Chunk: 18, size of chunk 359003
Chunk: 19, size of chunk 359003
Chunk: 20, size of chunk 359003
Chunk: 21, size of chunk 359003
Chunk: 22, size of chunk 359003
Chunk: 23, size of chunk 359003
Chunk: 24, size of chunk 359003
Chunk: 25, size of chunk 359003
Chunk: 26, size of chunk 359003
Chunk: 27, size of chunk 359003
Chunk: 28, size of chunk 359003
Chunk: 29, size of chunk 359003
Chunk: 30, size of chunk 359003
Chunk: 31, size of chunk 359003
Chunk: 32, size of chunk 359003
Chunk: 33, size of chunk 359003
Chunk: 34, size of chunk 359003
Chunk: 35, size of chunk 359003
Chunk: 36, size of chunk 359003
Chunk: 37, size of chunk 359003
Chunk: 38, size of chunk 359003
Chunk: 39, size of chunk 359003
Chunk: 40, size of chunk 359003
Chunk: 41, size of chunk 359004

**Arreglar los valores con comas.**

In [3]:
searches.tail()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
1436000,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,AUH,2013-01-26,D2,NaN,AUH,TXL,2013-02-02,D2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA,NaN,NaN,NaN
1436001,"2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436002,2013-01-01,18:04:49,MPT,3561,US,ICT,SFO,1,2,ICT,SFO,2013-08-02,NaN,NaN,SFO,ICT,2013-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
1436009,2013-01-01,19:57:57,MPT,28d7a8c95e4db88589d3d35b66920e78,DE,FRA,BGW,1,2,FRA,BGW,2013-02-26,NaN,NaN,BGW,FRA,2013-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BNJ,NaN,NaN
20390197,2013-10-13,18:57:54,MTP,e41c9d833aa74600552f2ed688b67d81,AT,VIE,HA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
searches.to_csv('../challenge/searches_no_dups.csv', sep='^', index=False)

In [21]:
data_iterator = pd.read_csv("../challenge/bookings.csv.bz2", 
                            chunksize = 5*10**5, 
                            sep = '^', 
                            compression = 'bz2',
                            #nrows = 10**6,
                            usecols = ['dep_port', 
                                       'arr_port', 
                                       'brd_time           ',
                                       'cre_date           ',
                                      ],
                            low_memory=True,
                            dtype=str,
                           )

bookings = pd.DataFrame()
for i, data_chunk in enumerate(data_iterator):
    #data_chunk = bookings_data_preprocessing(data_chunk)
    #data_chunk.reset_index(inplace=True)
    #data_chunk['Booking'] = 1
    bookings = bookings.append(data_chunk)
    bookings.drop_duplicates(inplace=True)
    print("Chunk: %d, size of chunk %d"%(i+1, bookings.shape[0]))

Chunk: 1, size of chunk 354095
Chunk: 2, size of chunk 708879
Chunk: 3, size of chunk 708879
Chunk: 4, size of chunk 708879
Chunk: 5, size of chunk 708879
Chunk: 6, size of chunk 708879
Chunk: 7, size of chunk 708879
Chunk: 8, size of chunk 708879
Chunk: 9, size of chunk 708879
Chunk: 10, size of chunk 708879
Chunk: 11, size of chunk 708882
Chunk: 12, size of chunk 708882
Chunk: 13, size of chunk 708882
Chunk: 14, size of chunk 708882
Chunk: 15, size of chunk 708882
Chunk: 16, size of chunk 708882
Chunk: 17, size of chunk 708882
Chunk: 18, size of chunk 708882
Chunk: 19, size of chunk 708882
Chunk: 20, size of chunk 708882
Chunk: 21, size of chunk 708882

In [23]:
bookings.columns = bookings.columns.str.strip()

In [24]:
bookings.columns.tolist()

['cre_date', 'dep_port', 'arr_port', 'brd_time']

In [25]:
bookings.to_csv('../challenge/bookings_no_dups.csv', sep='^', index=False)

In [80]:
def searches_data_preprocessing(df, columns_to_clean): 
    '''
    
    '''
    df.drop_duplicates(inplace=True)
    df.dropna(inplace=True, subset=['Date', 'Seg1Departure'])
    
    for column in columns_to_clean:
        df[column] = df[column].str.strip()
    
        if 'Date' not in column:
            df[column] = df[column].str.upper()
            # Para saber si hay lengths superiores a 3 sin que nos de error por los missing values    
            cell_lengths = df[column].map(lambda x: len(x) if not isinstance(x, float) else x)
            cell_lengths_notna = cell_lengths[cell_lengths.notna()]
            cell_lengths_sum = (cell_lengths_notna != 3.0).sum()
            if cell_lengths_sum != 0:
                print(f'Alert! There are `{column}` values with length different than 3. Dropping them..')

                mask = cell_lengths_notna != 3.0
                wrong_data = cell_lengths_notna[mask]
                print(wrong_data)
                df.drop(index=wrong_data.index, inplace=True)
    return df

In [81]:
columns_to_clean = ['Date', 'Seg1Departure', 'Seg1Arrival', 'Seg1Date', 
                 'Seg2Departure', 'Seg2Arrival', 'Seg2Date', 
                 'Seg3Departure', 'Seg3Arrival', 'Seg3Date', 
                 'Seg4Departure', 'Seg4Arrival', 'Seg4Date', 
                 'Seg5Departure', 'Seg5Arrival', 'Seg5Date', 
                 'Seg6Departure', 'Seg6Arrival', 'Seg6Date',
                ]

data_iterator = pd.read_csv("../challenge/searches_no_dups.csv", 
                            chunksize=10**5, 
                            sep='^', 
                            #compression='bz2',
                            #nrows=10**6,
                            low_memory=False,
                            #dtype=str,
                            #dtype=dtypes,
                            #na_values=[np.nan],
                            #memory_map=True
                           )

searches = pd.DataFrame()
for i, data_chunk in enumerate(data_iterator):
    data_chunk = searches_data_preprocessing(data_chunk, columns_to_clean)
    #data_chunk.reset_index(inplace=True)
    searches = searches.append(data_chunk)
    #searches.drop_duplicates(inplace=True)
    print("Chunk: %d, size of chunk %d"%(i+1, searches.shape[0]))

Chunk: 1, size of chunk 100000
Chunk: 2, size of chunk 200000
Chunk: 3, size of chunk 300000
Chunk: 4, size of chunk 359002

In [82]:
searches.shape

(359002, 45)

In [83]:
searches.tail()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
358997,2013-12-25,03:32:53,FFP,8837afb0e639c78916107ffa3bc40984,GB,DME,BKK,0.0,1.0,DME,BKK,2013-12-28,KM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0
358998,2013-12-25,20:54:39,FXA,7f8c2d9dfe430c2c6b19298dd7e0ff96,US,LAX,TLV,1.0,5.0,LAX,AMS,2014-02-02,UV,J,AMS,TLV,2014-02-03,UV,J,TLV,AMS,2014-02-17,UV,J,AMS,ATL,2014-02-17,UV,J,ATL,LAX,2014-02-17,UV,J,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0
358999,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1.0,2.0,TXL,AUH,2013-01-26,D2,NaN,AUH,TXL,2013-02-02,D2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA,NaN,NaN,NaN
359001,2013-01-01,18:04:49,MPT,3561,US,ICT,SFO,1.0,2.0,ICT,SFO,2013-08-02,NaN,NaN,SFO,ICT,2013-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
359002,2013-01-01,19:57:57,MPT,28d7a8c95e4db88589d3d35b66920e78,DE,FRA,BGW,1.0,2.0,FRA,BGW,2013-02-26,NaN,NaN,BGW,FRA,2013-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BNJ,NaN,NaN

In [84]:
searches[searches['Seg3Departure'].notna()].head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
50,2013-01-01,15:57:28,FXP,4831c67c44306edd3b762b101764babb,RU,DME,HEL,1.0,4.0,DME,VIE,2013-01-02,RQ,Y,VIE,HEL,2013-01-02,KJ,J,HEL,VIE,2013-01-04,KJ,J,VIE,DME,2013-01-04,RQ,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MOW
101,2013-01-01,16:16:57,FXR,28bd43d2b0751180dbb5aecedcf37bba,JP,FUK,HNL,1.0,4.0,FUK,ICN,2013-03-10,UO,J,ICN,HNL,2013-03-11,UO,P,HNL,ICN,2013-03-20,UO,P,ICN,FUK,2013-03-21,UO,J,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,fa97e4fde0bdabb4a1667b8c8c78ba9c,TYO
108,2013-01-01,10:40:17,FXX,8be5efb062958236aed3502d8040b6db,US,EZE,CUZ,1.0,4.0,EZE,LIM,2013-01-19,EK,C,LIM,CUZ,2013-01-20,EK,C,CUZ,LIM,2013-01-26,EK,C,LIM,EZE,2013-01-26,EK,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,9d5a1fc8bb82ad167b34e4a7a40a9482,MIA
117,2013-01-01,00:02:22,FXX,8bfc0dec246b585d34baa3d5fddf444c,HR,SPU,VIE,1.0,4.0,SPU,ZAG,2013-01-22,YF,C,ZAG,VIE,2013-01-23,YF,C,VIE,ZAG,2013-01-29,YF,C,ZAG,SPU,2013-01-29,YF,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,4e0c5b1c042fa6bf0518f74746da3ddf,ZAG
158,2013-01-01,07:56:59,FXP,7fa90be582577257ca6271d9ecb55b7c,TH,ARN,HKT,1.0,4.0,ARN,BKK,2013-03-01,EQ,Q,BKK,HKT,2013-03-02,EQ,M,HKT,BKK,2013-03-08,EQ,M,BKK,ARN,2013-03-09,EQ,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BKK

Ahi podemos ver que origin coincide con seg1dep y destination depende.. comprobarlo en el dataset combined

In [85]:
def bookings_data_preprocessing(df): 
    '''
    
    '''
    #df.drop_duplicates(inplace=True)
    df.dropna(inplace=True, subset=['cre_date'])
    df['cre_date'] = df['cre_date'].str.split(',').str[0]
    
    for column in df.columns:
        df[column] = df[column].str.strip()
    
    
        if 'port' in column:
            df[column] = df[column].str.upper()
            
            # Para saber si hay lengths superiores a 3 sin que nos de error por los missing values
            cell_lengths = df[column].map(lambda x: len(x) if not isinstance(x, float) else x)
            cell_lengths_notna = cell_lengths[cell_lengths.notna()]
            cell_lengths_sum = (cell_lengths_notna != 3.0).sum()
            if cell_lengths_sum != 0:
                print(f'Alert! There are `{column}` values with length different than 3. Dropping them..')

                mask = cell_lengths_notna != 3.0
                wrong_data = cell_lengths_notna[mask]
                print(wrong_data)
                df.drop(index=wrong_data.index, inplace=True)
        else:
            df[column] = df[column].str.split().str[0]
        
    return df

In [86]:
data_iterator = pd.read_csv("../challenge/bookings_no_dups.csv", 
                            chunksize = 10**5, 
                            sep = '^', 
                            #compression = 'bz2',
                            #nrows = 10**6,
                            usecols = ['dep_port', 
                                       'arr_port', 
                                       'brd_time',
                                       'cre_date',
                                      ],
                            #low_memory=False,
                            #parse_dates=['cre_date           '],
                           )

bookings = pd.DataFrame()
for i, data_chunk in enumerate(data_iterator):
    data_chunk = bookings_data_preprocessing(data_chunk)
    #data_chunk.reset_index(inplace=True)
    data_chunk['Booking'] = 1
    bookings = bookings.append(data_chunk)
    print("Chunk: %d, size of chunk %d"%(i+1, bookings.shape[0]))

Chunk: 1, size of chunk 100000
Chunk: 2, size of chunk 200000
Chunk: 3, size of chunk 300000
Chunk: 4, size of chunk 400000
Chunk: 5, size of chunk 500000
Chunk: 6, size of chunk 600000
Chunk: 7, size of chunk 700000
Alert! There are `dep_port` values with length different than 3. Dropping them..
708880    2
Name: dep_port, dtype: int64
Chunk: 8, size of chunk 708881

In [87]:
bookings.shape

(708881, 5)

In [88]:
bookings.tail()

          cre_date dep_port arr_port    brd_time  Booking
708876  2013-05-28      AUS      RDU  2013-07-12        1
708877  2013-05-28      TLS      ORY  2013-06-04        1
708878  2013-05-28      TLS      ORY  2013-06-04        1
708879  2013-03-26      AKL      SVO  2013-04-24        1
708881  2013-03-25      TYO      SIN  2013-04-16        1

Comprobar de nuevo los duplicados y eliminarlos

In [89]:
bookings.duplicated().sum()

49882

In [90]:
searches.duplicated().sum()

0

In [91]:
bookings.drop_duplicates(inplace=True)
bookings.duplicated().sum()

0

In [92]:
print(bookings.shape)
print(searches.shape)

(658999, 5)
(359002, 45)

Merge

In [93]:
new_columns_bookings = [['Date', 'Seg1Departure', 'Seg1Arrival', 'Seg1Date', 'booking'], 
                        ['Date', 'Seg2Departure', 'Seg2Arrival', 'Seg2Date', 'booking'],
                        ['Date', 'Seg3Departure', 'Seg3Arrival', 'Seg3Date', 'booking'],
                        ['Date', 'Seg4Departure', 'Seg4Arrival', 'Seg4Date', 'booking'],
                        ['Date', 'Seg5Departure', 'Seg5Arrival', 'Seg5Date', 'booking'],
                        ['Date', 'Seg6Departure', 'Seg6Arrival', 'Seg6Date', 'booking'],
                       ]

In [94]:
for i, lista in enumerate(new_columns_bookings):
    bookings.columns = lista

    searches = searches.merge(bookings, 
                              how = 'left', 
                              on = lista[:4], 
                              suffixes=(i, i+1),
                             )
    print(searches.shape)

(359002, 46)
(359002, 47)
(359002, 48)
(359002, 49)
(359002, 50)
(359002, 51)

In [95]:
searches.iloc[:, -6:].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359002 entries, 0 to 359001
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   booking1  451 non-null    float64
 1   booking2  181 non-null    float64
 2   booking3  31 non-null     float64
 3   booking4  25 non-null     float64
 4   booking5  3 non-null      float64
 5   booking6  1 non-null      float64
dtypes: float64(6)
memory usage: 19.2 MB

In [96]:
searches.iloc[:, -6:] = searches.iloc[:, -6:].fillna(0)

In [97]:
searches.iloc[:, -6:].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359002 entries, 0 to 359001
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   booking1  359002 non-null  float64
 1   booking2  359002 non-null  float64
 2   booking3  359002 non-null  float64
 3   booking4  359002 non-null  float64
 4   booking5  359002 non-null  float64
 5   booking6  359002 non-null  float64
dtypes: float64(6)
memory usage: 19.2 MB

In [98]:
searches.iloc[:, -6:].sum()

booking1    451.0
booking2    181.0
booking3     31.0
booking4     25.0
booking5      3.0
booking6      1.0
dtype: float64

Creamos la nueva columna

In [99]:
searches['Number_of_flights'] = 0
for column in searches.columns[-7:-1]:
    searches['Number_of_flights'] += searches[column]

In [100]:
searches['Number_of_flights'].sum()

692.0

In [101]:
searches.iloc[:, -7:-1].sum().sum() #comprobacion

692.0

In [102]:
searches[searches['Number_of_flights'] > 1.0]

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,booking1,booking2,booking3,booking4,booking5,booking6,Number_of_flights
6954,2013-01-07,09:31:03,FXB,e7daf073dd67b8513cc1e36ac28eee5f,FR,ORY,NCE,1.0,2.0,ORY,NCE,2013-01-10,KP,J,NCE,ORY,2013-01-10,KP,J,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,8f0d16f6cbd27d0a62f1e124ebd2c2e6,PAR,1.0,1.0,0.0,0.0,0.0,0.0,2.0
15607,2013-01-16,11:40:06,MPT,50c54b52322080d2c257390f714f91bd,ES,MAD,BCN,1.0,2.0,MAD,BCN,2013-01-17,NaN,NaN,BCN,MAD,2013-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD,1.0,1.0,0.0,0.0,0.0,0.0,2.0
105548,2013-04-16,13:37:31,FXA,321427684618b693b937f8c271e0cf0a,SE,CPH,DUS,1.0,2.0,CPH,DUS,2013-04-24,DU,C,DUS,CPH,2013-04-25,DU,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,6b543f9251e6bfc907e2b5fe027e0995,MMA,1.0,1.0,0.0,0.0,0.0,0.0,2.0
287092,2013-10-15,14:50:08,FXR,dafa0f79e75d46cb574ee4b4d9138e51,IN,DEL,BOM,1.0,2.0,DEL,BOM,2013-10-15,KS,C,BOM,DEL,2013-10-18,KS,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,6f8e64b103c9f4583918a0ce31a115ac,0,1.0,1.0,0.0,0.0,0.0,0.0,2.0

Las searches mostradas arriba acabaron en reservas que conllevan mas de un vuelo. Ahora deberia hacer una nueva columna indicando si hay reserva o no, y cambiarle el nombre a esta.

Eliminamos las columnas sobrantes

In [103]:
searches.columns[-7:-1]

Index(['booking1', 'booking2', 'booking3', 'booking4', 'booking5', 'booking6'], dtype='object')

In [104]:
print(searches.shape)
searches.drop(columns=searches.columns[-7:-1], inplace=True)
print(searches.shape)

(359002, 52)
(359002, 46)

In [105]:
searches['Number_of_flights'].sum()

692.0

In [106]:
(searches['Number_of_flights'] > 1).sum()

4

In [108]:
(searches['Number_of_flights'] > 0).sum()

688

In [109]:
searches.loc[searches['Number_of_flights'] > 0, 'Booking'] = 1

In [110]:
searches['Booking'].sum()

688.0

De las 359.002 searches, 688 terminaron en r